<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="satellite">
        <div class="table">
            <div class="cell pos-1 left middle">
                <a href="/index.html" class="bankingBttn yell"></a>
            </div>
            <div class="cell pos-2 center middle" >
                <a href="/index.html" class="logo">ITBANK</a>
            </div>
        </div>
    </nav>
    <div class="grid-container-bank">
        <div class="grid-item-bank grid-item-1" >
        </div>
        <div class="grid-item-bank grid-item-2">
            <h1>Saldo:</h1>
            <h1>$000.000,00</h1>
            <h2>CBU: 99999999</h2>
        </div>
        <div class="grid-item-bank grid-item-3">
            <h1>Credito Acumulado:</h1>
            <h1>$000.000,00</h1>
            <h2>Tarjeta: 0000 0000 000 000</h2>
        </div>
        <div class="grid-item-bank grid-item-4">
            <h1>Transferencias</h1>
        </div>
        <div class="grid-item-bank grid-item-5">
            <h1>Prestamos</h1>
        </div>
    </div>
    <footer>
        <p>Autor: Lorenzo Lara</p>
        <p><a>Mail: lorenzolara12@gmail.com</a></p>
        <p>Comision 4</p>
        <p>Grupo 1</p>
    </footer>
</body>
</html>