<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="satellite">
        <div class="table">
            <div class="cell pos-1 left middle">
                <a href="/index.html" class="bankingBttn yell"></a>
            </div>
            <div class="cell pos-2 center middle" >
                <a href="/index.html" class="logo">ITBANK</a>
            </div>
        </div>
    </nav>
    <div class="page-header"></div>
    <div class="panel-primario">
        <div class="panel-login">
            <form class="login">
                <div class="campotexto">
                    <input placeholder="Introduce E-mail" type="email">
                </div>
                <div class="campotexto">
                    <input placeholder="Introduce Clave" type="password">
                </div>
                <button class="bankingBttn dark" type="submit" href="/template/bank.html">Ingresar</button>
            </form>
        </div>
        
    </div>
    <footer>
        <p>Autor: Lorenzo Lara</p>
        <p><a>Mail: lorenzolara12@gmail.com</a></p>
        <p>Comision 4</p>
        <p>Grupo 1</p>
    </footer>
</body>
</html>