html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: black;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
}

input{
    border: 0;
    border-left: solid black 5px;
    border-bottom: solid black 5px;
    margin: 1.1rem;
}

button{
    border: 0;
    padding: 1rem;
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

footer{
    display: flex;
    margin-top: 10px;
    width: 100%;
    border-top: 5px solid black;

}

footer p{
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}

.topborder{
    border-top: solid black 10px;
    border-left: solid black 10px;
    border-radius: 15px;
}

.botborder{
    border-bottom: solid black 10px;
    border-right: solid black 10px;
    border-radius: 15px;
}

.botleftborder{
    border-top: solid 5px black;
    border-right: solid 5px black;
    border-bottom: solid black 10px;
    border-left: solid black 10px;
    border-radius: 10px;
}

.left{
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.middle, .middle:before {
    vertical-align: middle;
}

.page-header {
    height: 105px;
    width: 100%;
}

.satellite {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgb(255, 255, 255);
    border-bottom: 5px solid black;
    
}

.satellite>.table {
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 99px;
    display: grid;
    grid-template-areas:"header logo login" ;
    
}

/* .satellite>.table .pos-1 {
    width: auto;
} */

.satellite>.table .pos-1{
    grid-area: header;
    
}

.satellite>.table .pos-2 {
    grid-area: logo;
}

/* .satellite>.table .pos-3 {
    width: 30%;
} */

.satellite>.table .pos-3 {
    grid-area: login;
}

.satellite .logo {
    min-width: 350px;
    width: 30%;
    height: 90px;
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    background-image: url(Images/Logo/ITBANK.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}



.satellite .bankingBttn.cliente{
    display: none!important;
}

.satellite .bankingBttn {
    padding-left: 20px;
    padding-right: 20px;
}

.satellite .bankingBttn {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 300;
    color: #1e1e1e;
    line-height: 40px;
    position: relative;
    -webkit-transition: color .4s,background-color .4s,border .4s;
    -moz-transition: color .4s,background-color .4s,border .4s;
    -ms-transition: color .4s,background-color .4s,border .4s;
    transition: color .4s,background-color .4s,border .4s;
    border: 10px solid #dbdcdd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.satellite .table .bankingBttn{
    margin-top: 3%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.satellite .bankingBttn.dark {
    background-color: #494f51;
    border-color: #494f51;
    color: #fff;
}

.satellite .bankingBttn.dark:hover {
    background-color: #cccccc;
    border-color: #cccccc;
    color: rgb(0, 0, 0);
}

.satellite .bankingBttn.yell {
    /* background-color: #dddddd;
    border-color: #dddddd; */
    background-color: white;
    border-color: white;
    color: rgb(0, 0, 0);
}

.satellite .bankingBttn.yell:hover {
    background-color: #494f51;
    border-color: #494f51;
    color: rgb(255, 255, 255);
}
.mainContent {
    display: flex;
    padding-top: 50px;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

.mainContent>.texto-1{
    width: 30%;
    display: block;
    margin-left: 12%;
    margin-right: 5%;
    margin-bottom: 18%;
    text-align: left;
    border-right: solid black 10px;
    border-bottom: solid black 10px;
}
.mainContent>.titulo-1{
    width: 30%;
    padding-left: 10px;
    margin-left: 15%;
    margin-right: 2%;
    margin-bottom: 22%;
    
}

.titulo-1>.subtitulo-1{
    width: 30%;
    color: #535353;
    border-bottom: #535353 1rem;
}

.mainContent>.imagen-1{
    max-width: 800px;
    border-top: solid black 10px;
    border-left: solid black 10px;
    padding-top: 5px;
    padding-left: 5px;
}



.grid-container-bank{
    display: grid;
    grid-template-rows: 100px 250px 250px 250px;
}

.grid-item-bank{
    background-color: white;
    
}

.grid-item-1{
    grid-column: 1/5;
    grid-row: 1/2;
    border-bottom: 5px solid black;
    margin-bottom: 10px;
    background-image: url(/template/Images/Logo/ITBANK.png);
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-2{
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 5px;
    padding: 1rem;
    text-align: left;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.grid-item-3{
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 5px;
    padding: 1rem;
    text-align: left;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.grid-item-4{
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 5px;
    padding: 1rem;
    text-align: left;
}

.grid-item-5{
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 5px;
    padding: 1rem;
    text-align: left;
}

.grid-item-6{
    grid-column: 1/5;
    grid-row: 5/6;
    border-top: 5px solid black;
    margin-top: 10px;
}

.container-home{
    display: grid;
    grid-template-rows: 100px 250px 125px 125px 250px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    row-gap: 15px;
    column-gap: 15px;
}

.grid-home-1{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 5px;
    text-align: left;
}

.grid-home-2{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 5px;
    text-align: left;
}

.grid-home-3{
    grid-column: 3/5;
    grid-row: 2/5;
    padding: 2%;
    
}

div h3{
  
    
}


@media(max-width: 414px){

    .satellite .logo {
        min-width: 200px;
    }
    
    .container-home{
        display: grid;
        grid-template-rows: 100px auto auto 125px 250px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        row-gap: 5px;
        
    }
    
    .grid-home-1{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 5px;
        text-align: left;
        overflow:auto;
    }
    
    .grid-home-2{
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 5px;
        text-align: left;
        overflow:auto;
    }
    
    .grid-home-3{
        grid-column: 3/5;
        grid-row: 2/5;
        padding: 2%;
        overflow:auto;
    }

    .grid-container-bank{
        display: grid;
        grid-template-rows: 75px auto auto 150px 150px 50px;
        grid-template-columns: 0px 200px 200px 0px 0px;
    }
    
    .grid-item-bank{
        background-color: white;
        
    }
    
    .grid-item-1{
        grid-column: 1/5;
        grid-row: 1/2;
        border-bottom: 5px solid black;
        margin-bottom: 10px;
        background-image: url(/template/Images/Logo/ITBANK.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .grid-item-2{
        grid-column: 2/4;
        grid-row: 2/3;
        text-align: left;
        border-left: solid black .5rem;
        border-bottom: solid black .5rem;
        /* border-top: solid black 5px;
        border-right: solid black 5px; */
    }
    
    .grid-item-3{
        grid-column: 2/4;
        grid-row: 3/4;
        text-align: left;
        border-left: solid black .5rem;
        border-bottom: solid black .5rem;
    }
    
    .grid-item-4{
        grid-column: 2/4;
        grid-row: 4/5;
        margin: 5px;
        padding: 1rem;
        text-align: left;
        border-left: solid black .5rem;
        border-bottom: solid black .5rem;
    }
    
    .grid-item-5{
        grid-column: 2/4;
        grid-row: 5/6;
        margin: 5px;
        padding: 1rem;
        text-align: left;
        border-left: solid black .5rem;
        border-bottom: solid black .5rem;
    }
    
    .grid-item-6{
        grid-column: 1/5;
        grid-row: 6/7;
        border-top: .25rem solid black;
        margin-top: .5rem;
    }
}